 \# Android generated
bin/
gen/
classes/
gen-external-apklibs/
\# Maven
target/
release.properties
\# Eclipse
.classpath
.project
.externalToolBuilders/
.metadata
.settings
\# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/
\# Mac
.DS_Store
*/.DS_Store
.mvn
mvnw
mvnw.cmd
HELP.md
